BasketOrganizer/.vs/BasketOrganizer/v15/.suo
BasketOrganizer/BasketOrganizer/bin/Android/Debug/android-debug-unaligned.apk
BasketOrganizer/BasketOrganizer/bin/Android/Debug/android-debug-unaligned.apk
BasketOrganizer/.vs/BasketOrganizer/v15/.suo